---
title: Home
heading: What is Hello Friend?
lead: What is Hello Friend?
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>Hello Friend is Alyssa and Justin Threlkeld, a fresh, husband and wife team of designers who are passionate about creating beautiful, useful things.</p>

  <p><a href="http://justinthrelkeld.com">Justin</a> makes things that makes people smile using materials like paper, ink, wax, pixels, bits, and &hearts;. He does digital product design, web development, and creative direction.</p>

  <p><a href="http://alyssakathryn.com">Alyssa</a> is a designer and barista with a love of letters, giraffes, and going outside. She does hand lettering and illustration.</p>

  <p>Together, we're a tiny design studio with big heart. We design posters, logos, websites, and objects that build community and promote creativity, exploration, and joy.</p>
  <a href="office@hellofriend.co" class="btn btn--hello">Say hello</a>
</div>
